<div class="row">
    <h1>BluePass</h1>
    <h3 class="mt-5">Sign In</h3>
    <div class="col-md-12">
        <div class="form-group">
            <input type="email" class="form-control mt-3" name="email" id="email" placeholder="E-posta">

            <input type="password" class="form-control mt-3" name="password" id="password" placeholder="Password">

            <a name="" id="" class="btn btn-success mt-3" href="#" role="button">Sign In</a>


        </div>
    </div>
</div>
<div class="row">
    <a class="ml-5" href="">Sign Up</a>
</div>